In [1]:
import string
import pandas as pd

In [2]:
df = pd.DataFrame({'x':[1,2,3,4,5], 'y':list(string.ascii_lowercase)[0:5]}, index=range(101, 106))
df

     x  y
101  1  a
102  2  b
103  3  c
104  4  d
105  5  e

In [16]:
# Check its structure
print(df.info())
# Entire shape of DataFrame
print("size: ", df.shape)
# Row size
print("len: ", len(df))
# Column size
print("col size:", len(df.columns))
# The size of element
print(df.size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 101 to 105
Data columns (total 4 columns):
first    5 non-null int64
x        5 non-null int64
y        5 non-null object
hoge     5 non-null object
dtypes: int64(2), object(2)
memory usage: 200.0+ bytes
None
size:  (5, 4)
len:  5
col size: 4
20

In [4]:
#Extract column([], loc: name base, iloc/ix: number base)
print(df.x)
print(df["x"])
print(df.loc[:,'x'])
print(df.iloc[:,0])
print(df.ix[:,0])
#Extract match column!
print(df.iloc[:, df.columns.map(lambda x: x.startswith('y'))])

101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
     y
101  a
102  b
103  c
104  d
105  e

In [5]:
#Extract row(!!loc/ix index base, iloc: row number base!!!)
print(df.loc[103,:])
print(df.iloc[3,:])
print(df.ix[103,:])

x    3
y    c
Name: 103, dtype: object
x    4
y    d
Name: 104, dtype: object
x    3
y    c
Name: 103, dtype: object

In [6]:
#Extract row(by column condition)
df[df.x==3]

     x  y
103  3  c

In [7]:
#To Numpy Array
df[df.x==5].as_matrix()

array([[5, 'e']], dtype=object)

In [8]:
#Extract specific column
df.ix[:, 1:]

     y
101  a
102  b
103  c
104  d
105  e

In [9]:
#Get and change column name
names = df.columns
print(names)
df.columns = ["hoge", "huga"]
print(df)
print(df.columns.values) #as simple array
df.columns = names

Index(['x', 'y'], dtype='object')
     hoge huga
101     1    a
102     2    b
103     3    c
104     4    d
105     5    e
['hoge' 'huga']

In [10]:
#Get and change row name(index)
index = df.index
print(index)
df.index = range(333, 338)
print(df)
df.index = index

Int64Index([101, 102, 103, 104, 105], dtype='int64')
     x  y
333  1  a
334  2  b
335  3  c
336  4  d
337  5  e

In [11]:
#apply lambda function to each column|row(axis 0:column, 1:row)
print(df.apply(lambda x: x.loc[103], axis=0))
print(df.apply(lambda x: x[0], axis=1))

x    3
y    c
dtype: object
101    1
102    2
103    3
104    4
105    5
dtype: int64

In [12]:
#insert column last position and any position(insert function)
df['hoge'] = 'hoge'
print(df)
df.insert(0, 'first', -1)
print(df)

     x  y  hoge
101  1  a  hoge
102  2  b  hoge
103  3  c  hoge
104  4  d  hoge
105  5  e  hoge
     first  x  y  hoge
101     -1  1  a  hoge
102     -1  2  b  hoge
103     -1  3  c  hoge
104     -1  4  d  hoge
105     -1  5  e  hoge

## Example for groupby

In [9]:
#Example for Groupby
df = pd.DataFrame({'group':['A', 'A', 'B', 'A', 'B'], 'value':[1, 2, 3, 4, 5]})

In [10]:
# dplyr summarize like
df.groupby('group').apply(lambda x: pd.Series({'size':len(x), 'sum': x['value'].sum()}))

       size  sum
group
A         3    7
B         2    8