In [21]:
import string
import pandas as pd
from io import StringIO

In [25]:
df = pd.DataFrame({'x':[1,2,3,4,5], 'y':list(string.ascii_lowercase)[0:5]}, index=range(101, 106))
df

     x  y
101  1  a
102  2  b
103  3  c
104  4  d
105  5  e

In [26]:
# Check its structure
print(df.info())
# Entire shape of DataFrame
print("size: ", df.shape)
# Row size
print("len: ", len(df))
# Column size
print("col size:", len(df.columns))
# The size of element
print(df.size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 101 to 105
Data columns (total 2 columns):
x    5 non-null int64
y    5 non-null object
dtypes: int64(1), object(1)
memory usage: 120.0+ bytes
None
size:  (5, 2)
len:  5
col size: 2
10

In [27]:
#Extract column([], loc: name base, iloc/ix: number base)
print(df.x)
print(df["x"])
print(df.loc[:,'x'])
print(df.iloc[:,0])
print(df.ix[:,0])
#Extract match column!
print(df.iloc[:, df.columns.map(lambda x: x.startswith('y'))])

101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
101    1
102    2
103    3
104    4
105    5
Name: x, dtype: int64
     y
101  a
102  b
103  c
104  d
105  e

In [28]:
# []series or [[]]data.frame
print(type(df['x']))
print(type(df[['x']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [29]:
#Extract row(!!loc/ix index base, iloc: row number base!!!)
print(df.loc[103,:])
print(df.iloc[3,:])
print(df.ix[103,:])

x    3
y    c
Name: 103, dtype: object
x    4
y    d
Name: 104, dtype: object
x    3
y    c
Name: 103, dtype: object

In [30]:
#Extract row(by column condition)
df[df.x==3]

     x  y
103  3  c

In [31]:
#To Numpy Array
df[df.x==5].as_matrix()

array([[5, 'e']], dtype=object)

In [32]:
#Extract specific column
df.ix[:, 1:]

     y
101  a
102  b
103  c
104  d
105  e

In [33]:
#Get and change column name
names = df.columns
print(names)
df.columns = ["hoge", "huga"]
print(df)
print(df.columns.values) #as simple array
df.columns = names

Index(['x', 'y'], dtype='object')
     hoge huga
101     1    a
102     2    b
103     3    c
104     4    d
105     5    e
['hoge' 'huga']

In [34]:
#Get and change row name(index)
index = df.index
print(index)
df.index = range(333, 338)
print(df)
df.index = index

Int64Index([101, 102, 103, 104, 105], dtype='int64')
     x  y
333  1  a
334  2  b
335  3  c
336  4  d
337  5  e

In [35]:
#apply lambda function to each column|row(axis 0:column, 1:row)
print(df.apply(lambda x: x.loc[103], axis=0))
print(df.apply(lambda x: x[0], axis=1))

x    3
y    c
dtype: object
101    1
102    2
103    3
104    4
105    5
dtype: int64

In [36]:
#insert column last position and any position(insert function)
df['hoge'] = 'hoge'
print(df)
df.insert(0, 'first', -1)
print(df)

     x  y  hoge
101  1  a  hoge
102  2  b  hoge
103  3  c  hoge
104  4  d  hoge
105  5  e  hoge
     first  x  y  hoge
101     -1  1  a  hoge
102     -1  2  b  hoge
103     -1  3  c  hoge
104     -1  4  d  hoge
105     -1  5  e  hoge

## Example for groupby

In [37]:
#Example for Groupby
df = pd.DataFrame({'group':['A', 'A', 'B', 'A', 'B'], 'value':[1, 2, 3, 4, 5]})

In [38]:
# dplyr summarize like
df.groupby('group').apply(lambda x: pd.Series({'size':len(x), 'sum': x['value'].sum()}))

       size  sum
group
A         3    7
B         2    8

In [39]:
df["group"].value_counts()

A    3
B    2
Name: group, dtype: int64

In [40]:
print(df["group"])

0    A
1    A
2    B
3    A
4    B
Name: group, dtype: object

In [41]:
print(df[["group"]])

  group
0     A
1     A
2     B
3     A
4     B

In [42]:
# Compare all elements
df2 = pd.DataFrame({'group':['A', 'A', 'B', 'A', 'B'], 'value':[1, 2, 3, 4, 5]})
print((df.values == df2.values).all())

True

In [43]:
dum = pd.get_dummies(df['group'], prefix='hoge')
df = pd.concat((df, dum.ix[:, 1:]), axis=1)
df = df.drop('group', axis=1)
print(df)

   value  hoge_B
0      1       0
1      2       0
2      3       1
3      4       0
4      5       1

In [44]:
df = pd.DataFrame({'group':['A', 'A', 'B', 'A', 'B'], 'value':[1, 2, 3, 4, 5], 'hoge': [2, 2, 2, 2, 2]})
##Using DataFrame.drop
df.drop(df.columns[[1, 2]], axis=1)

  group
0     A
1     A
2     B
3     A
4     B

In [45]:
# drop by Name
df.drop(['hoge', 'group'], axis=1)

   value
0      1
1      2
2      3
3      4
4      5

In [46]:
## Select the ones you want
df[['group', 'hoge']]

  group  hoge
0     A     2
1     A     2
2     B     2
3     A     2
4     B     2

# DateTime in Column

In [2]:
pd.Timedelta('1 days')

Timedelta('1 days 00:00:00')

In [3]:
pd.Timedelta('1 days 2 hours')

Timedelta('1 days 02:00:00')

In [11]:
pd.Timedelta(1, unit='d') #day, days does not work...

Timedelta('1 days 00:00:00')

In [14]:
dt = pd.date_range('2012-1-1', periods=3, freq='D')
dt

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03'], dtype='datetime64[ns]', freq='D')

In [15]:
dt - dt[0]

TimedeltaIndex(['0 days', '1 days', '2 days'], dtype='timedelta64[ns]', freq=None)

In [17]:
[ pd.Timedelta(days=i) for i in range(3) ]

[Timedelta('0 days 00:00:00'),
 Timedelta('1 days 00:00:00'),
 Timedelta('2 days 00:00:00')]

In [19]:
pd.timedelta_range(start='1 days', end='2 days', freq='１０T')

TimedeltaIndex(['1 days 00:00:00', '1 days 00:10:00', '1 days 00:20:00',
                '1 days 00:30:00', '1 days 00:40:00', '1 days 00:50:00',
                '1 days 01:00:00', '1 days 01:10:00', '1 days 01:20:00',
                '1 days 01:30:00',
                ...
                '1 days 22:30:00', '1 days 22:40:00', '1 days 22:50:00',
                '1 days 23:00:00', '1 days 23:10:00', '1 days 23:20:00',
                '1 days 23:30:00', '1 days 23:40:00', '1 days 23:50:00',
                '2 days 00:00:00'],
               dtype='timedelta64[ns]', length=145, freq='10T')

In [30]:
df = pd.read_csv(StringIO("""
ds,y
2012-05-18,38.23
2012-05-21,34.03
2012-05-22,31.0
2012-05-23,32.0
2012-05-24,33.03
2012-05-25,31.91
2012-05-29,28.84
2012-05-30,28.19
2012-05-31,29.6
2012-06-01,27.72
2012-06-04,26.9
2012-06-05,25.87
2012-06-06,26.81
2012-06-07,26.31
2012-06-08,27.1
2012-06-11,27.01
2012-06-12,27.4
2012-06-13,27.27
2012-06-14,28.29
2012-06-15,30.01
2012-06-18,31.41
2012-06-19,31.91
2012-06-20,31.6
2012-06-21,31.84
2012-06-22,33.05
2012-06-25,32.06
2012-06-26,33.1
2012-06-27,32.23
2012-06-28,31.36
2012-06-29,31.1
"""), parse_dates=['ds'])
ts = df['ds'].min()
te = df['ds'].max()
print([ts, te])

[Timestamp('2012-05-18 00:00:00'), Timestamp('2012-06-29 00:00:00')]